/* Stile per il contenitore principale */
.card {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.flashcard-title {
    text-align: center;
    color: #159957;
    text-transform: lowercase;
}

.flashcard-title::first-letter {
    text-transform: uppercase;
}

/* Spazio banner */
.ad-banner {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
}

/* Stile per l'effetto 3D */
.flashcard-container {
    background-color: transparent;
    width: 100%;
    height: 250px;
    perspective: 1000px;
    cursor: pointer;
}

.flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 15px;
}

.girata {
    transform: rotateY(180deg);
}

.flashcard-front, .flashcard-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid #159957;
}

.flashcard-front {
    background-color: white;
    color: black;
}

.flashcard-back {
    background-color: #159957;
    color: white;
    transform: rotateY(180deg);
}

/* Controlli */
.controls-container {
    display: flex; 
    justify-content: space-between; 
    margin-top: 20px;
}

.btn-nav {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.btn-prev {
    background: #606c71;
}

.btn-next {
    background: #159957;
}
